/*ËÑË÷À¸ Begin*/
.searchBox{
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 44px;
    position: relative;
}
.searchBox form {
    width: 100%;
    padding-left: 10px;
    padding-right: 73px;
}
.searchBox form input{
    width: 100%;
    height: 34px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14vm;
    margin-top: 5px;
}

.searchBox a{
    position: absolute;
    height: 34px;
    width: 56px;
    border-radius: 5px;
    background-color: #44b181;
    top: 0;
    right: 10px;
    color: white;
    line-height: 34px;
    text-align: center;
    font-family: "SimSun", "ËÎÌå";
    font-size: 12vm;
    margin-top: 5px;
}
.searchBox ul{
    border: 1px solid #dddddd;
    border-top: none;
    padding-left: 10px;
}
.searchBox ul li{
    margin: 5px 0;
}
.searchBox ul li:first-of-type{
    margin-top: 0;
}

.now{
    background-color: #ccc;
}
/*ËÑË÷À¸ End*/