html{
    width: 100%;
}
body{
    background: #f5f5f5;
    width: 100%;
    height: 100%;
}
/*整体布局*/
.Yk_layout{
    min-width: 300px;/*????С????豸  ??????????????  ?????320px??С????????????????*/
    max-width: 640px;/*?????????  ?????????640px ?????????????????????  ???????Ч?????*/
    margin: 0 auto;
    position: relative;
}
/*头部*/
.Yk_header{
    /*??λ??????????? ???????? ??? ??С??????*/
    width: 100%;
    height: 44px;
    z-index: 1;/*???? ???????*/
}
/*header?????滻.jd_header ??????????*/
.Yk_header .Yk_header_box{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color:#43B181;
}
/*header?????*/
.Yk_header .Yk_header_box .return{
    width: 60px;
    position: absolute;
    top: 0;
    left: 6px;
    color: white;
    font-size: 12px;
    text-align: right;
}
/*α????????return???С???*/
.Yk_header .Yk_header_box .return::before{
    content: " < ";
    display: block;
    width: 30px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 30px;
    color: white;
}
/*header?м???????*/
.Yk_header .Yk_header_box .question{
    display: inline-block;
    width: 100%;
    padding-left: 95px;
    padding-right: 76px;
    text-align: center;
    color: white;
    font-size: 16px;
}
/*???С?????????*/
.Yk_header .Yk_header_box .point{
    position: absolute;
    /* right: 18px;*/
    right: 10px;
    top: 16px;
    height: 44px;
    overflow: hidden;
}
/*???С???*/
.Yk_header .Yk_header_box .point b{
    width: 14px;
    height: 14px;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    background-color: white;
}
/*问答区块*/
.ask-answer{
    width: 100%;
    background: #fff;
}
/*问答区块*/
.ask{
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
}
.ask .head{
    padding: 20px 0;
}
.ask .rmb{
    float: right;
}
.ask h2{
    float: left;
}
.ask h2::before{
    content:"";
    display: block;
}
.ask h3{
    font-size: 18px;
    margin:10px 0;
}
.ask .time-left{
    height: 30px;
    line-height: 30px;

}
.ask .refuse{
    display: block;
    width: 70px;
    height: 30px;
    border:1px solid #9c9c9c;
    float: right;
    line-height: 30px;
    text-align: center;
    border-radius:5px;
    margin-right: 20px;
}
.answer{
    padding:12px;
    color:#999;
}
.answer p{
    color:#000;
    font-size:18px;
    padding:10px 0;
}
/*动态添加元素样式*/
.answer-content{
    padding:10px 0;
    border-top:1px solid silver;
}

/*问答区块*/
/*录音区域*/
.record{
    width: 100%;
    text-align: center;
    padding:10px;
    overflow: hidden;
    padding-top:30px;
}
.record .earn{
    margin:15px auto;
    margin-bottom:20px;
}
    /*录音按键*/
.record-c{
    position: relative;
}
.record .record-circle{
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: inline-block;
    background: rgb(68, 177, 129);
    position: relative;
    margin: 10px auto;
}
.record .record-circle .colu{
    display: block;
    position: absolute;
    z-index: 2;/*提高层级，盖住*/
    top: 8px;
    left: 33px;
    width: 18px;
    height: 36px;
    border-radius: 9px;
    background: #fff;
}
.record .record-circle .bowl{
    position:absolute;
    left:27px;
    top: 22px;
    width: 30px;
    height: 30px;
    border-radius:4px 4px 15px 15px;
    background: #fff;
}
.record .record-circle .bowl::before{
    content:"";
    position: absolute;
    left:3px;
    top:0;
    right: 31px;
    width: 24px;
    height: 26px;
    background: rgb(68, 177, 129);
    border-radius:0 0 12px 12px;
}
.record .record-circle .bowl::after {
    content:"";
    position: absolute;
    bottom:-10px;
    left: 13px;
    width: 4px;
    height: 10px;
    background: #fff;
}
.record .record-circle .foot {/*??????*/
    position: absolute;
    background: #fff;
    width: 16px;
    height: 3px;
    left:34px;
    bottom:17px;
    border-radius: 1px;
}
/*红色背景*/
.red{
    background: red !important;
}
.silver{
    background: tomato !important;
}
/*----------录音按钮----------*/
.record .re-record a{
    display: block;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background: #c7c7c7;
    text-align: center;
    line-height: 46px;
    color:#fff;
    position: absolute;
    right:10%;
    top:20px;
}
    /*发送文字*/
.record .record-w{
    width: 100%;
    text-align: center;
    margin:20px auto;
    font-size:18px;
}
.record form .send{
    width: 110px;
    height: 50px;
    border-radius: 12px;
    color:#fff;
    font: bold 16px/50px "MicroSoft YaHei";
}
/*录音区域*/

/*弹出框*/
.refuse_ans{
    display: none;
    height: 100%;
    width: 100%;
    position:fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 1000;
}
.refuse_ans .refuse_con{
    background: white;
    width: 60%;
    height: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    border-radius: 10px;
    text-align: center;
}
/*----------跳入动画----------*/
.refuse_ans .refuse_con.jumpDown{
    -webkit-animation:jumpDown 1s;
    animation:jumpDown 1s;
}
/*----------跳出动画----------*/
.refuse_ans .refuse_con.jumpOut{
    -webkit-animation:jumpOut 1s;
    animation:jumpOut 1s;
}
.refuse_ans .refuse_con h2{
    height: 40px;
    font:normal 14px/40px "Microsoft YaHei";
}
.refuse_ans .refuse_con textarea{
    padding: 5px;
    border:1px solid maroon;
    border-radius: 3px;
    width: 80%;
    /*margin-left:15px;*/
}
.refuse_ans .refuse_con .confirm{
    border-top:1px solid maroon;
    margin-top: 10px;
    padding-top: 10px;
}
.refuse_ans .refuse_con .confirm a{
    float: left;
    width: 50%;
    height: 30px;
    line-height:30px;
}
.refuse_ans .refuse_con .confirm a:nth-child(1){
    border-right: 1px solid maroon;;
}
/*弹出框动画*/
@keyframes jumpDown{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
    60%{
        opacity: 1;
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    90%{
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        -webkit-transform:none;
        transform:none;
    }
}
/*----------弹出框动画----------*/
/*----------跳出动画----------*/
@-webkit-keyframes jumpOut{
    0%{
        opacity: 1;
        -webkit-transform:none;
        transform:none;

    }
    10%{
        opacity: 1;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    25%{
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    90%{
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
}
@keyframes jumpOut{
    0%{
        opacity: 1;
        -webkit-transform:none;
        transform:none;

    }
    10%{
        opacity: 1;
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    25%{
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    90%{
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(-3000px);
        transform: translateY(-3000px);
    }
}
/*弹出框消失*/
/*弹出框*/