@charset "UTF-8";
body{
    background: #f5f5f5;
}
/*最外层大盒子 包裹整个页面*/
.Yk_layout{
    min-width: 300px;/*适配小屏幕设备  为了保持布局的正常  设置比320px还小的屏幕的时候做适配*/
    max-width: 640px;/*在行业当中  设计图一般是640px 如果不限制那么图片就会被拉伸  页面的显示效果就差*/
    margin: 0 auto;
}
/*精灵图公共样式*/
[class^=icon_]{
    background: url("../images/sprit.fw.png");
    background-size: 300px 300px;
}
/*顶部个人信息*/
.person_top{
    height: 202px;
    background-color: #43B181;
    padding: 64px 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    position: relative;
}
.person_top .icon_head{
    width: 67px;
    height: 67px;
    display: block;
    background-position: -124px -11px;
    margin: 0 auto;
}
.person_top .icon_erweima{
    width: 37px;
    height: 37px;
    padding: 10px;
    position: absolute;
    background-position: -10px -57px;
    background-origin: content-box;
    background-clip: content-box;
    top:40px;
    left: 0;
}
.person_top .icon_edit{
    width: 37px;
    height: 38px;
    padding: 10px;
    position: absolute;
    background-position: -42px -56px;
    background-origin: content-box;
    background-clip: content-box;
    top:40px;
    right: 0;
}
/*我的信息详情*/
.my_box{
    margin-top: 10px;
    background-color: #fff;
    color: #35424B;
    font-size: 14px;
    line-height: 44px;
}

.my_box>a{
    height: 44px;
    padding-left: 40px;
    border-bottom: 1px solid #E1E1E1;
    display: block;

}
.box_item{
    position: relative;
}
.box_item span{
    position: absolute;
    left: 10px;
}
.box_item .icon_myYw{
    width: 20px;
    height: 19px;
    background-position: -37px -84px;
    top:12px;
}
.box_item .icon_myAsk{
    width: 16px;
    height: 16px;
    background-position: -8px -85px;
    top:13px;
}
.box_item .icon_myAns{
     width: 18px;
     height: 18px;
     background-position: -68px -84px;
     top:12px;
 }
.box_item .icon_hotQue{
    width: 15px;
    height: 18px;
    background-position: -99px -84px;
    top:12px;
}
.box_item .icon_aboutMe{
    width: 16px;
    height: 16px;
    background-position: -125px -85px;
    top:12px;
}
.box_item .icon_xsj{
    position: absolute;
    width: 6px;
    height: 10px;
    background-position:-158px -88px;
    top:17px;
    right:15px;
}
