/*reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致*/
/*所有的标签和伪类  before after*/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    /*在移动端特殊的设置*/
    /*清除点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有的盒子的宽度以边框开始计算*/
    -webkit-box-sizing: border-box;
    /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
    box-sizing: border-box;
}
body{
    font-size: 12px;
    color: #333;
    font-family: "MicroSoft YaHei","sans-serif";/*是设备默认的字体*/
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;/*防止拖动 影响布局*/
    /*特殊的属性定义  清除浏览器给input自带的样式*/
    -webkit-appearance: none;/*组件默认的样式空*/
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
/*common css  也就是我们公用的css*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.m_r10{
    margin-right: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.mianColor{
    color: #d8505c;
}
img {
    border:0;
    vertical-align:middle;/*清楚图片底部三像素的空白间隙*/
    /*display:block; 也可以取消底部空白*/
}
s, i, em, b{/*废物利用标签*/
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}
table {
    border-collapse: collapse;
}
/*所有使用精灵图的 class  以icon_开始的所有class都有这些属性*/
/*[class^="icon_"]{
    background: url("../images/sprate.fw.png") no-repeat;
    /!*压缩背景图*!/
    background-size: 500px 500px;
}*/
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tl{
    text-align: left;
}
.bgGray{
    background-color: #35414B;
}
.bgWhite{
    background-color: #FFFFFF;
}
.bgco{
    background-color: #EBEBEB;
}


/*header公共样式*/
body{
    background: #f5f5f5;
}
/*最外层大盒子 包裹整个页面*/
.Yk_layout{
    min-width: 340px;/*适配小屏幕设备  为了保持布局的正常  设置比320px还小的屏幕的时候做适配*/
    max-width: 640px;/*在行业当中  设计图一般是640px 如果不限制那么图片就会被拉伸  页面的显示效果就差*/
    margin: 0 auto;
    position: relative;
}
/*头部搜索区块*/
.Yk_header{
    /*定位以后脱离标准流 给它居中 最大 最小宽度没用*/
    width: 100%;
    height: 44px;
    z-index: 1;/*提高层级 防止覆盖*/
}
/*header盒子替换.jd_header 实现内容限定*/
.Yk_header .Yk_header_box{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color:#43B181;
}
/*header左侧返回*/
.Yk_header .Yk_header_box .return{
    width: 60px;
    position: absolute;
    top: 0;
    left: 6px;
    color: white;
    text-align: right;
}
/*伪元素动态添加return前面小箭头*/
.Yk_header .Yk_header_box .return::before{
    content: " < ";
    display: block;
    width: 30px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 30px;
    color: white;
}
/*header中间易康问答*/
.Yk_header .Yk_header_box .question{
    display: inline-block;
    width: 100%;
    /* padding-left: 95px;*/
    padding-left: 79px;
    padding-right: 76px;
    color: white;
    font-size: 16px;
}
/*右侧小圆点的父盒子*/
.Yk_header .Yk_header_box .point{
    position: absolute;
    /* right: 18px;*/
    right: 10px;
    top: 16px;
    height: 44px;
    overflow: hidden;
}
/*右侧小圆点*/
.Yk_header .Yk_header_box .point b{
    width: 14px;
    height: 14px;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    background-color: white;
}

/*footer公共样式*/
footer {
    min-width: 300px;
    max-width: 640px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #E1E1E1;
}

footer ul.bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer ul.bottom li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    height: 100%;
    float: left;
    width: 20%;
    position: relative;
}

footer ul.bottom li.textColor {
    color: #44B181;
    box-shadow: 0 0 16px #44B181;
}

footer ul.bottom li a {
    display: block;
    width: 100%;
    height: 100%;
    /*background-origin: content-box;
    background-clip: content-box;*/
    text-align: center;

}

footer ul.bottom li i {
    position: absolute;
    top: 4px;
    display: block;
    width: 30px;
    height: 28px;
    background-color: blue;
    background: url("../images/bottom.png") no-repeat;
    -webkit-background-size: 30px 98px;
    background-size: 30px 98px;
    text-align: center;
}

footer ul.bottom li:nth-child(1) i {
    background-position: 0 -75px;
}

footer ul.bottom li:nth-child(2) i {
    background-position: 0 -50px;
}

footer ul.bottom li:nth-child(3) i {
    background-position: 0 -25px;
}

footer ul.bottom li:nth-child(4) i {
    background-position: 0 0;
}

footer ul.bottom li span {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

